<template>
    <div class="Dashboard">
        <Nav/>
        <div class="articleWrapper">
            <div class="container">
                <Jumbotron/>
                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class="siapakitaWrapper">
                            <h3 class="justify-content-center d-flex fw-bold pb-3">Siapa kita?</h3>
                            <p class="d-flex justify-content-center text-center">Cerdasia adalah aplikasi website sebagai wadah membaca kepada anak usia dini. Hal ini bertujuan untuk mengembangkan skill literasi pada anak agar anak mampu memiliki kecintaan pada membaca dan wawasan anak menjadi bertambah..</p>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-12">
                        <div class="yukWrapper">
                            <h3 class="justify-content-center d-flex fw-bold pb-3">Yuk Mulai Belajar!</h3>
                            <p class="d-flex justify-content-center text-center">Mulai dari cara membaca perhuruf sampai kalimat, dan berlatih di quiz, apakah kalian sudah bisa?</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-around mx-auto mt-5 mb-5">
                        <div class="fiturWrapper">
                            <div class="imgWrapper">
                                <img class="mb-2" src="../assets/abc.png" width="105px" height="103px" alt="abc">
                            </div>
                            <span style="font-weight: 600;" class="d-flex justify-content-center">Huruf</span>
                        </div>
                        <div class="fiturWrapper">
                            <div class="imgWrapper">
                                <img class="mb-2" src="../assets/kidss.png" width="105px" height="103px" alt="abc">
                            </div>
                            <span style="font-weight: 600;" class="d-flex justify-content-center">Kata</span>
                        </div>
                        <div class="fiturWrapper">
                            <div class="imgWrapper">
                                <img class="mb-2" src="../assets/pif.png" width="105px" height="103px" alt="abc">
                            </div>
                            <span style="font-weight: 600;" class="d-flex justify-content-center">Kalimat</span>
                        </div>
                        <div class="fiturWrapper mb-5">
                            <div class="imgWrapper">
                                <img class="mb-2" src="../assets/stars.png" width="105px" height="103px" alt="abc">
                            </div>
                            <span style="font-weight: 600;" class="d-flex justify-content-center">Quiz</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <Footer class="mt-5"/>
    </div>
</template>
<script>
import Nav from '../components/Nav.vue'
import Footer from '../components/Footer.vue'
import Jumbotron from '../components/Jumbotron.vue'
export default {
    name:'Dashboard',
    components: {
        Nav,
        Jumbotron,
        Footer
    }
}
</script>
<style>
    .articleWrapper{
        position: relative;
    }
    .articleWrapper::before {
        position: absolute;
        left: 0;
        top: 400px;
        content: " ";
        background: url('../assets/Vector.png');
        background-size:100% 100%;
        width: 360px;
        height: 188px;
        
    }
    .articleWrapper::after {
        position: absolute;
        right: 0;
        bottom: 10px;
        content: " ";
        background: url('../assets/abc 3.png');
        background-size:100% 100%;
        width: 300px;
        height: 300px;
        
    }
    .siapakitaWrapper h3{
        color: rgba(61, 178, 255, 1) !important;
        font-size: 26px;
        font-weight: 600;;
    }
    .yukWrapper h3{
        color: rgba(61, 178, 255, 1) !important;
        font-size: 26px;
        font-weight: 600;;
    }
</style>