<template>
    <v-main>
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-6">
                <div class="signinWrapper d-flex justify-content-center">
                    <form action="" method="post" name="signup" class="w-75" @submit.prevent="handleSubmit">
                        <h2>Forgot Password</h2>
                        <p class="signinDesc">Enter the email address associated with your account and we'll send an email with instructions to reset your password</p>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input v-model="userForm.email" type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" 
                              :class="{ 'is-invalid': isSubmitted && $v.userForm.email.$error }" placeholder="ex: email@gmail.com" novalidate>
                            <div v-if="isSubmitted && $v.userForm.email.$error" class="invalid-feedback"> 
                              <span v-if="!$v.userForm.email.required">Email field is required</span>
                              <span v-if="!$v.userForm.email.email">Please provide valid email</span>
                            </div>
                        </div>
                        <div class="col-md-12 text-center pt-3">
                            <button type="submit" class=" btn btn-block mybtn btn-primary text-white btnSignin">Send email</button>
                            <div v-if="isSubmitted && $v.userForm.email.$error" class="invalid-feedback">
                                <span v-if="!$v.userForm.email.required">Email field is required</span>
                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="login-or">
                                <hr class="hr-or">
                                <span class="span-or">or</span>
                            </div>
                        </div>
                        <div class="form-group linkToSignup">
                            <p class="text-center">already have an account? 
                                <router-link to="/" class="routerLink">
                                <a href="#" id="signin">Sign in</a>
                                </router-link>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center imgRight">
                <img src="../assets/imgForgot.png" alt="">
            </div>
        </div>
      <Footer/>
    </v-main>
</template>

<script>
import {
        required,
        email,
} from "vuelidate/lib/validators";

import Footer from '../components/Footer.vue'

export default {
  name: 'Forgot Password',
  components: { Footer },
  data() {
    return {
      userForm: {
        email: "",
      },
      isSubmitted: false
    };
  },
  validations: {
    userForm: {
      email: {
        required,
        email
      },
    }
  },
  methods: {
    handleSubmit() {
      this.isSubmitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
      console.log(this.userForm);
      alert("Check your email!");
      this.$router.push({ name: 'Signin' })
    }
  }
}

</script>

<style lang="css" scoped>
  li{
    list-style-type: none;
  }
  li a {
    text-decoration: none !important;
  }
  .imgRight{
      margin-top: 78px;
      margin-bottom: 78px;
  }
  .routerLink{
    text-decoration: none !important;
  }
  .signinWrapper h2{
      color: rgba(0, 0, 0, 1);
      font-weight: 600;
    }

  .signinWrapper .signinDesc {
    font-size: 18px;
    color: rgba(79, 79, 79, 1);
    padding-bottom: 10px;
  }

  .btnSignin{
    text-transform:capitalize;
    background-color: rgba(144, 202, 249, 1) !important;
    border: 0;
  }

  .btnSignin:hover{
    background-color: rgba(61, 178, 255, 1) !important;
    transition: 0.3s;
  }

  .linkToSignup p a{
    text-decoration: none;
    color: rgba(61, 178, 255, 1) !important;
  }
  .linkToSignup p a:hover{
    text-decoration: none;
    color: rgb(45, 171, 254) !important;
  }
  .mybtn{
  border-radius:50px;
  }

  input[type=username],input[type=email],input[type=password]{
    background-color: rgba(124, 119, 135, 0.1) !important;
    border-radius: 20px;
    border: 0px;
    font-size: 14px;
    color: rgba(144, 142, 142, 1);
  }

  .login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  }
  .span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
  }
  .hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  }
</style>