<template>
    <div class="pilihLevel">
        <NavBack/>
        <div class="container">
            <div class="row mt-5 pb-5 d-flex justify-content-around align-items-center mt-5">
                <div class="col-md-6 d-flex justify-content-center">
                    <router-link to="/Tutorial-huruf">
                    <div class="hurufWrapper mx-auto d-flex justify-content-center align-items-center mx-auto flex-column w-25">
                        <img src="../assets/abc-xl.png" width="150px" alt="abc">
                        <div class="hurufTitle mt-2 d-flex justify-content-center">
                            <img src="../assets/huruf.png" alt="huruf"  class="text-center pt-1">
                        </div>
                    </div>
                    </router-link>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <router-link to="/Tutorial-kata">
                    <div class="hurufWrapper mx-auto d-flex justify-content-center mx-auto align-items-center flex-column w-25 kids">
                        <img src="../assets/kids-xl.png" width="190px" class="pb-4 pt-3 mx-auto kidsImg" alt="abc">
                        <div class="hurufTitle mt-2 d-flex justify-content-center align-items-center">
                            <img src="../assets/kata.png" alt="huruf"  class="text-center pt-2 mx-auto">
                        </div>
                    </div>
                    </router-link>
                </div>
            </div>
            <div class="row mt-5 pb-5 d-flex justify-content-around align-items-center mt-5">
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="hurufWrapper mx-auto d-flex justify-content-center mx-auto flex-column w-25">
                        <img src="../assets/pif-xl.png" width="150px"  alt="abc">
                        <div class="hurufTitle mt-2 d-flex justify-content-center">
                            <img src="../assets/kalimat.png" alt="huruf"  class="text-center">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <router-link to="/quiz-huruf">
                    <div class="hurufWrapper mx-auto d-flex justify-content-center align-items-center mx-auto flex-column w-25">
                        <img src="../assets/stars-xl.png" width="150px" class="pb-0 pt-2" alt="abc">
                        <div class="hurufTitle mt-2 d-flex justify-content-center">
                            <img src="../assets/quiz.png" alt="huruf"  class="text-center">
                        </div>
                    </div>
                    </router-link>
                </div>
            </div>
        </div>
        <Footer/>
    </div>
</template>
<script>
import Footer from '../components/Footer.vue'
import NavBack from '../components/NavBack.vue'
export default {
    name:'PilihLevel',
    components:{
        Footer,
        NavBack
    }
}
</script>
<style>
.kids .kidsImg{
    margin-left: -50px !important;
}
.hurufTitle img:hover, .hurufWrapper img:hover {
             cursor: pointer;
            -webkit-animation: wiggle 0.2s ease infinite;
            -moz-animation: wiggle 0.2s ease infinite;
            -o-animation: wiggle 0.2s ease infinite;
            animation: wiggle 0.2s ease infinite;
        }

        @-webkit-keyframes wiggle {
            0% {
                -webkit-transform: rotateZ(4deg);
            }

            50% {
                -webkit-transform: rotateZ(-4deg);
            }

            100% {
                -webkit-transform: rotateZ(4deg);
            }
        }

        @-moz-keyframes wiggle {
            0% {
                -moz-transform: rotateZ(4deg);
            }

            50% {
                -moz-transform: rotateZ(-4deg);
            }

            100% {
                -moz-transform: rotateZ(4deg);
            }
        }

        @-o-keyframes wiggle {
            0% {
                -o-transform: rotateZ(4deg);
            }

            50% {
                -o-transform: rotateZ(-4deg);
            }

            100% {
                -o-transform: rotateZ(4deg);
            }
        }

        @keyframes wiggle {
            0% {
                transform: rotateZ(4deg);
            }

            50% {
                transform: rotateZ(-4deg);
            }

            100% {
                transform: rotateZ(4deg);
            }
        }
</style>