<template>
    <v-main>
        <div class="row d-flex align-items-center justify-content-center top">
            <div class="col-md-12 d-flex justify-content-start ">
                <div class="col-md-11 justify-content-start ">
                    <div class="signinWrapper d-flex justify-content-center ">
                        <button type="button" class="p-2 backButton" >
                            <router-link to="/Dashboard" class="routerLink">
                              <span class="material-icons">arrow_back_ios</span>
                            </router-link>
                        </button>
                        <form action="" method="post" name="signup" class="w-75" @submit.prevent="handleSubmit">
                            <h2>Profile</h2>
                            <p class="signinDesc">Your Bio Profile</p>
                            <div class="row align-items-start">
                              <div class="col-2 justify-content-start">
                                <div class="profilePic">
                                    <img class="rounded-circle" alt="150x150" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" data-holder-rendered="true">
                                </div>
                                <div class="col-9 text-center pt-3 picture-button">
                                    <button type="submit" class=" btn btn-block mybtn btn-primary text-white btnSignin">Upload Photos</button>
                                </div>
                              </div>

                              <div class="col-4">
                                <div class="form-group">
                                    <label for="name">Display Name</label>
                                    <input type="name" name="name"  class="form-control" id="name" aria-describedby="emailHelp" 
                                    placeholder="Display Name">
                                </div>
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="username" name="username"  class="form-control" id="username" aria-describedby="emailHelp" 
                                    placeholder="Username">
                                </div>
                                <div class="form-group linkToReset">
                                    <p class="text-left">
                                        <router-link to="/Reset-password" class="routerLink">
                                        <a href="#" id="reset-password">Change Password?</a>
                                        </router-link>
                                    </p>
                                </div>
                                <div class="col-md-12 text-center">
                                    <button type="submit" class=" btn btn-block mybtn btn-primary text-white btnSignin">Update Your Profile</button>
                                </div>
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>    
        </div>
        <Footer/>
    </v-main>
</template>

<script>
import Footer from '../components/Footer.vue'

export default {
    name: 'Profile',
    components: { Footer },

}
</script>

<style lang="css" scoped>
  li{
    list-style-type: none;
  }
  li a {
    text-decoration: none !important;
  }
  .rounded-circle{
    width: 150px ;
    height: 150px;
  }
  .picture-button{
    padding-left: 0 !important
  }
  .top{
      margin-top: 104px;
      margin-bottom: 104px;
  }
  .backButton{
      height: 10px;
  }
  .routerLink{
    text-decoration: none !important;
  }
  .signinWrapper h2{
      color: rgba(0, 0, 0, 1);
      font-weight: 600;
    }

  .signinWrapper .signinDesc {
    font-size: 18px;
    color: rgba(79, 79, 79, 1);
    padding-bottom: 10px;
  }

  .btnSignin{
    text-transform:capitalize;
    background-color: rgba(144, 202, 249, 1) !important;
    border: 0;
  }

  .btnSignin:hover{
    background-color: rgba(61, 178, 255, 1) !important;
    transition: 0.3s;
  }

  .linkToReset p a{
    text-decoration: none;
    color: #FF2442 !important;
  }
  .linkToReset p a:hover{
    text-decoration: none;
    color: #8b0000 !important;
  }
  .mybtn{
  border-radius:50px;
  }

  input[type=username],input[type=name]{
    background-color: rgba(124, 119, 135, 0.1) !important;
    border-radius: 20px;
    border: 0px;
    font-size: 14px;
    color: rgba(144, 142, 142, 1);
  }

  .login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  }
  .span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
  }
  .hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  }
</style>