<template>
        <div class="quizhuruf">
            <NavBack/>
            <div class="container">
                <div class="headerWrapper">
                    <div class="row d-flex justify-content-between">
                        <div class="col-md-6">
                        <div class="setGridWrapper d-flex justify-content-start align-items-start flex-column">
                            <!-- <p>Tampilan seperti apa yang kamu mau?</p> -->
                            <div class="gridWrapper">
                                <!-- <button class="btn bg-secondary text-light mr-2"><i class="fa fa-bars"></i> List</button>  -->
                                <!-- <button class="btn bg-secondary text-light active"><i class="fa fa-th-large"></i> Grid</button> -->
                            </div>
                        </div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end align-items-center my-auto">
                            
                        </div>                      
                    </div>
                </div>
                
                <div class="row d-flex justify-content-center align-items-center mt-5 mb-2 contentWrapper">
                    <!-- <div class="col-md-3 d-flex justify-content-end">
                        <img @click="prevIndex" src="../assets/leftArrow.png" width="100px" height="100px" alt="">    
                    </div> -->
                    <div class="col-md-6 d-flex justify-content-center align-items-center hurufWrapper" >
                        <span class="huruf">{{Quiz[index].value}}</span>
                    </div>
                    <!-- <div class="col-md-3 d-flex justify-content-start">
                        <img @click="addIndex" src="../assets/rightArrow.png" width="100px" height="100px" alt="">    
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-end mb-5 iconWrapper">
                        <img @click="checklist" src="../assets/check.png"  width="100px" height="100px" alt="">
                        <!-- <audio controls>
                            <source src="https://drive.google.com/uc?export=download&id=1pCCt_SkyKlcbjPEuPDbvKHt2j_v-c1x5" type="audio/mpeg">
                        </audio> -->
                        <!-- <audio autoplay src="https://drive.google.com/uc?export=download&id=1pCCt_SkyKlcbjPEuPDbvKHt2j_v-c1x5"></audio> -->
                    </div>
                    <div>
                    <b-modal ref="my-modal" id="modal-1" title="BootstrapVue" hide-footer hide-header-close hide-header no-close-on-backdrop>
                        <p class="my-4 text-center">Selamat! Jawaban kamu benar 😀</p>
                        <b-button class="mt-3" block @click="addIndex">Lanjut</b-button>
                    </b-modal>
                    </div>
                </div>
            </div>
            <Footer/>
    </div>
</template>
<style scoped>
.hurufWrapper,.iconWrapper{
    overflow: hidden;
    margin-top: -200px;

}
.iconWrapper{
    cursor: pointer;
}
.huruf{
    font-family: "coconutz";
    font-style: normal;
    font-weight: normal;
    font-size: 488px;
    -webkit-text-stroke: 5px black;
    color: #ACE2E5;

}
</style>
<script>
import NavBack from '../components/NavBack.vue'
import Footer from '../components/Footer.vue'
import Quiz from '../data/Quiz.js';

export default {
    name:'Quizhuruf',
    components: {
        NavBack,
        Footer
    },
    data() {
    return {
      Quiz,
      index:0,
      modal:false
    }
    },
    methods:{
        addIndex : function() {
            if(this.index < 25){
             this.index = this.index+1;
             this.hideModal()
            }else{
                alert('pol banget anjeng')
            }
    },
    prevIndex : function() {
        if(this.index > 0){
        this.index = this.index-1;
        }else{
            alert('pol')
        }
    },
    playSound () {
       
        var audio = new Audio('https://res.cloudinary.com/dxfq3iotg/video/upload/v1557233524/success.mp3');
        var audioYeay = new Audio(require('../assets/yeay.mp3'));
        audio.play();
        audioYeay.play();
        console.log(audio)
      
    },
    checklist : function (){
        this.playSound();
        this.showModal();

    },
    showModal() {
        this.$refs['my-modal'].show()
      },
    hideModal() {
    this.$refs['my-modal'].hide()
    }
}
}

</script>