<template>
    <v-main>
        <div class="row d-flex align-items-center justify-content-cente top">
            <div class="col-md-6">
                <div class="signinWrapper d-flex justify-content-center">
                    <form action="" method="post" name="signup" class="w-75" @submit.prevent="handleSubmit">
                        <h2>Create New Password</h2>
                        <p class="signinDesc">Your new password must be different from your previous password</p>
                        <div class="form-group">
                            <label for="password">Create Password</label>
                            <input v-model="userForm.password" type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" 
                              :class="{ 'is-invalid': isSubmitted && $v.userForm.password.$error }" placeholder="Enter your new password min. 6 characters, at least 1 capital letter">
                            <div v-if="isSubmitted && $v.userForm.password.$error" class="invalid-feedback">
                                <span v-if="!$v.userForm.password.required">Password field is required</span>
                                <span v-if="!$v.userForm.password.minLength">Password should be at least 5 characters long</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="rpassword">Confirm Password</label>
                            <input v-model="userForm.rpassword" type="password" name="rpassword" id="rpassword" class="form-control" aria-describedby="emailHelp" 
                              :class="{ 'is-invalid': isSubmitted && $v.userForm.rpassword.$error }" placeholder="Confirm your password">
                            <div v-if="isSubmitted && $v.userForm.rpassword.$error" class="invalid-feedback">
                                <span v-if="!$v.userForm.rpassword.required">Confirm Password field is required</span>
                                <span v-else-if="!$v.userForm.rpassword.sameAsPassword">Passwords should be matched</span>
                            </div>
                        </div>
                        <div class="col-md-12 text-center pt-3">
                            <button type="submit" class=" btn btn-block mybtn btn-primary text-white btnSignin">Reset Password</button>
                            <div v-if="isSubmitted && $v.userForm.rpassword.$error" class="invalid-feedback">
                                <span v-if="!$v.userForm.rpassword.required">Confirm Password field is required</span>
                                <span v-else-if="!$v.userForm.rpassword.sameAsPassword">Passwords should be matched</span>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <img src="../assets/imgReset.png" alt="">
            </div>
        </div>
      <Footer/>
    </v-main>
</template>

<script>
import {
        required,
        minLength,
        sameAs
} from "vuelidate/lib/validators";

import Footer from '../components/Footer.vue'

export default {
  name: 'Signup',
  components: { Footer },
  data() {
    return {
      userForm: {
        password: "",
        rpassword: "",
      },
      isSubmitted: false
    };
  },
  validations: {
    userForm: {
      password: {
        required,
        minLength: minLength(6)
      },
      rpassword: {
        required,
        sameAsPassword: sameAs('password')
      },
    }
  },
  methods: {
    handleSubmit() {
      this.isSubmitted = true;
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }
      console.log(this.userForm);
      alert("Password has been changed");
      this.$router.push({ name: 'Signin' })
    }
  }
}

</script>

<style lang="css" scoped>
  li{
    list-style-type: none;
  }
  li a {
    text-decoration: none !important;
  }
  .top{
      margin-top: 104px;
      margin-bottom: 104px;
  }
  .routerLink{
    text-decoration: none !important;
  }
  .signinWrapper h2{
      color: rgba(0, 0, 0, 1);
      font-weight: 600;
    }

  .signinWrapper .signinDesc {
    font-size: 18px;
    color: rgba(79, 79, 79, 1);
    padding-bottom: 10px;
  }

  .btnSignin{
    text-transform:capitalize;
    background-color: rgba(144, 202, 249, 1) !important;
    border: 0;
  }

  .btnSignin:hover{
    background-color: rgba(61, 178, 255, 1) !important;
    transition: 0.3s;
  }

  .linkToSignup p a{
    text-decoration: none;
    color: rgba(61, 178, 255, 1) !important;
  }
  .linkToSignup p a:hover{
    text-decoration: none;
    color: rgb(45, 171, 254) !important;
  }
  .mybtn{
  border-radius:50px;
  }

  input[type=username],input[type=email],input[type=password]{
    background-color: rgba(124, 119, 135, 0.1) !important;
    border-radius: 20px;
    border: 0px;
    font-size: 14px;
    color: rgba(144, 142, 142, 1);
  }

  .login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  }
  .span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
  }
  .hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  }
</style>