<template>
    <v-main>
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-6">
            <div class="signinWrapper d-flex justify-content-center">
              <form action="" method="post" name="signin" class="w-75">
              <h2>Sign in</h2>
              <p class="signinDesc">Sign in to your account</p>
                <div class="form-group">
                  <label for="email">Username or email</label>
                  <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your username or email">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Enter your password">
                </div>
                <div class="col-md-12 text-center pt-3">
                  <router-link to="/Dashboard" tag="li">
                    <button type="submit" class=" btn btn-block mybtn btn-primary text-white btnSignin">sign in</button>
                  </router-link>
                </div>
                <div class="col-md-12 ">
                  <div class="login-or">
                      <hr class="hr-or">
                      <span class="span-or">or</span>
                  </div>
                </div>
                <div class="form-group linkToSignup">
                  <p class="text-center">dont have an account yet ? 
                    <router-link to="/signup" class="routerLink">
                      <a href="#" id="signup">Sign up</a>
                    </router-link>
                  </p>
                </div>
              </form>
          </div>
				</div>
        <div class="col-md-6 d-flex justify-content-center">
            <img src="../assets/imgLogin.png" alt="">
        </div>
    </div>
  <Footer/>
</v-main>
</template>

<script>
import Footer from '../components/Footer.vue'
export default {
  name: 'Signin',
  components: { Footer }
}
</script>

<style lang="css" scoped>
  li{
    list-style-type: none;
  }
  li a {
    text-decoration: none !important;
  }
  .routerLink{
    text-decoration: none !important;
  }
  .signinWrapper h2{
      color: rgba(0, 0, 0, 1);
      font-weight: 600;
    }

  .signinWrapper .signinDesc {
    font-size: 18px;
    color: rgba(79, 79, 79, 1);
    padding-bottom: 10px;
  }

  .btnSignin{
    text-transform:capitalize;
    background-color: rgba(144, 202, 249, 1) !important;
    border: 0;
  }

  .btnSignin:hover{
    background-color: rgba(61, 178, 255, 1) !important;
    transition: 0.3s;
  }

  .linkToSignup p a{
    text-decoration: none;
    color: rgba(61, 178, 255, 1) !important;
  }
  .linkToSignup p a:hover{
    text-decoration: none;
    color: rgb(45, 171, 254) !important;
  }
  .mybtn{
  border-radius:50px;
  }

  input[type=email],input[type=password]{
    background-color: rgba(124, 119, 135, 0.1) !important;
    border-radius: 20px;
    border: 0px;
    font-size: 14px;
    color: rgba(144, 142, 142, 1);
  }

  .login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  }
  .span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
  }
  .hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  }
</style>