<template>
        <div class="tutorialHuruf">
            <NavBack/>
            <div class="container">
                <div class="headerWrapper">
                    <div class="row d-flex justify-content-between">
                        <div class="col-md-6">
                        <div class="setGridWrapper d-flex justify-content-start align-items-start">
                            <!-- <p>Tampilan seperti apa yang kamu mau?</p>
                            <div class="gridWrapper">
                                <button class="btn bg-secondary text-light mr-2"><i class="fa fa-bars"></i> List</button> 
                                <button class="btn bg-secondary text-light active"><i class="fa fa-th-large"></i> Grid</button>
                            </div> -->
                        </div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-end align-items-center my-auto">
                            <router-link to="/quiz-Kata">
                            <span class="btn btn-danger btn-lg rounded-pill pl-4 pr-4">Quiz</span>
                            </router-link>
                        </div>                      
                    </div>
                </div>
                
                <div class="row d-flex justify-content-center align-items-center mt-5 mb-2 contentWrapper">
                    <div class="col-md-2 d-flex justify-content-end leftWrapper">
                        <img @click="prevIndex" src="../assets/leftArrow.png" width="100px" height="100px" alt="">    
                    </div>
                    <div class="col-md-8 d-flex justify-content-center align-items-center hurufWrapper" >
                        <span class="huruf">{{Kata[index].value}}</span>
                    </div>
                    <div class="col-md-2 d-flex justify-content-start rightWrapper">
                        <img @click="addIndex" src="../assets/rightArrow.png" width="100px" height="100px" alt="">    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center">
                        <div  @click.prevent="playSound(`https://drive.google.com/uc?export=download&id=${Kata[index].eja}`)"  class="btn btn-warning text-center btn-lg pr-5 pl-5 text-white">Eja</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-end mb-5 iconWrapper">
                        <img @click.prevent="playSound(`https://drive.google.com/uc?export=download&id=${Kata[index].audio}`)" src="../assets/speaker.png" width="100px" height="100px" alt="">
                        <!-- <audio controls>
                            <source src="https://drive.google.com/uc?export=download&id=1pCCt_SkyKlcbjPEuPDbvKHt2j_v-c1x5" type="audio/mpeg">
                        </audio> -->
                        <!-- <audio autoplay src="https://drive.google.com/uc?export=download&id=1pCCt_SkyKlcbjPEuPDbvKHt2j_v-c1x5"></audio> -->
                    </div>
                </div>
            </div>
            <Footer/>
    </div>
</template>
<style scoped>
.hurufWrapper, .leftWrapper, .rightWrapper{
    overflow: hidden;
    margin-top:0px;

}
.iconWrapper{
    cursor: pointer;
    margin-top: 30px;
}
.huruf{
    font-family: "coconutz";
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    -webkit-text-stroke: 5px black;
    color: #ACE2E5;

}
.iconWrapper img {
            -webkit-animation: wiggle 0.2s ease infinite;
            -moz-animation: wiggle 0.2s ease infinite;
            -o-animation: wiggle 0.2s ease infinite;
            animation: wiggle 0.2s ease infinite;
        }

        @-webkit-keyframes wiggle {
            0% {
                -webkit-transform: rotateZ(4deg);
            }

            50% {
                -webkit-transform: rotateZ(-4deg);
            }

            100% {
                -webkit-transform: rotateZ(4deg);
            }
        }

        @-moz-keyframes wiggle {
            0% {
                -moz-transform: rotateZ(4deg);
            }

            50% {
                -moz-transform: rotateZ(-4deg);
            }

            100% {
                -moz-transform: rotateZ(4deg);
            }
        }

        @-o-keyframes wiggle {
            0% {
                -o-transform: rotateZ(4deg);
            }

            50% {
                -o-transform: rotateZ(-4deg);
            }

            100% {
                -o-transform: rotateZ(4deg);
            }
        }

        @keyframes wiggle {
            0% {
                transform: rotateZ(4deg);
            }

            50% {
                transform: rotateZ(-4deg);
            }

            100% {
                transform: rotateZ(4deg);
            }
        }
</style>
<script>
import NavBack from '../components/NavBack.vue'
import Footer from '../components/Footer.vue'
import Kata from '../data/Kata.js';
export default {
    name:'TutorialKata',
    components: {
        NavBack,
        Footer
    },
    data() {
    return {
      Kata,
      index:0
    }
    },
    methods:{
        addIndex : function() {
            if(this.index < 25){
             this.index = this.index+1;
            }else{
                alert('Akhir quiz')
            }
    },
    prevIndex : function() {
        if(this.index > 0){
        this.index = this.index-1;
        }else{
            alert('Awal Quiz')
        }
    },
    playSound (sound) {
      if(sound) {
        var audio = new Audio(sound);
        audio.play();
      }
    }
}
}

</script>