<template>
    <footer>
      <div class="row">
        <div class="col-md-12 pb-5">
            <div class="container d-flex justify-content-between mt-5">
            <div class="leftWrapper text-white">
                <h5 class="pb-3">Cerdasia Company Indonesia</h5>
                <p>Cerdasia merupakan platform untuk membantu anak <br> dalam belajar membaca.</p>
            </div>
            <div class="rightWrapper text-white text-right">
                <h5 class="pb-3">Hubungi Kami</h5>
                <ul>
                    <li><a href="#">Cerdasia Company Indonesia<img src="../assets/facebook.png" alt="fb"></a></li>
                    <li><a href="#">Cerdasia@company.id<img src="../assets/email.png" alt="email"></a></li>
                    <li><a href="#">@cerdasia.id<img src="../assets/instagram.png" alt="ig"></a></li>
                </ul>
            </div>
            </div>
            <div class="copyrightWrapper text-white mt-5 pt-5 d-flex justify-content-center">
                <p>Hak Cipta Dilindungi Oleh Kementrian Riset dan Teknologi Indonesia.</p>
            </div>
        </div>
      </div>
    </footer>
</template>

<script>
export default {
    name:'Footer'
}
</script>
<style lang="css">
footer{
    width: 100% !important;
    margin-left: 0;
    background-color:rgba(31, 28, 81, 1);
  }
ul {
    list-style-type: none;
  }

  .rightWrapper ul li{
    margin-bottom: 10px;
  }
  .rightWrapper img{
    margin-left: 10px;
  }
  .rightWrapper ul li a{
    text-decoration: none;
    color: #fff;
  }
</style>