<template>
    <div class="row mt-5 pb-5 d-flex align-items-center">
            <div class="col-md-6">
                <div class="jumboTitleWrapper">
                    <h1>Ceriakan dan <br> Cintakan Membaca</h1>
                    <p>Kita bisa bangun kecintaan membaca anak lewat Cerdasia</p>
                    <div class="btn btn-danger rounded-pill text-white mt-3 btnJumbo">Mulai Membaca</div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <img src="../assets/jumbotron.png" width="350px" alt="">
            </div>
        </div>
</template>
<script>
export default {
    name:'Jumbotron'
}
</script>
<style scoped>
.jumboTitleWrapper h1{
        color: rgba(61, 178, 255, 1) !important;
        font-size: 44px;
        font-weight: 600;
    }

    .jumboTitleWrapper p{
        font-size: 18px;
        color: rgba(0, 0, 0, 1);
    }
</style>