<template>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container">
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Beranda <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tentang kami</a>
                    </li>
                    <li class="nav-item">
                        <router-link to="/Pilih-level">
                            <a class="nav-link" href="#">Pilih level</a>
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/">
                            <a class="nav-link text-danger" href="#" tabindex="-1">Masuk</a>
                        </router-link>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
</template>

<script>
export default {
    name:"Nav"
}
</script>

<style >
    
</style>