<template>
<div class="container">
    <div class="navback d-flex align-items-center">
        <ul class="d-flex justify-content-between w-100 align-items-center">
            <li>
                <router-link to="/dashboard">
                    <div class="backWrapper d-flex align-items-center">
                        <img src="../assets/btnback.png" width="9px" height="14px" alt="">
                        <a href="#" class="pl-1">Kembali</a>
                    </div>
                </router-link>
            </li>
            <li>
                <router-link to="/">
                    <div class="profileWrapper d-flex justify-content-around align-items-center">
                        <a href="#">Masuk</a>
                        <img src="../assets/ppBlank.png" width="40px" alt="avatar" class="rounded-circle ml-2">
                    </div>
                </router-link>
            </li>
        </ul>
    </div>
</div>
</template>
<script>
export default {
    name:'NavBack'
}
</script>
<style>
    .navback{
        height: 80px;
        background-color: #fff;
    }
    .backWrapper a{
        color: rgba(0, 0, 0, 1) !important;
    }
    ul li a{
        text-decoration: none !important;
    }
    .profileWrapper{
        cursor: pointer;
    }
    .profileWrapper a{
        font-size: 16px;
        color: red;
        font-weight: 600;
    }
</style>