<template>
  <div id="app">
      <router-view/>
  </div>
</template>
<script>
export default {
  name:'App',
  components:{
  }
}
</script>
<style>
  #app {
  font-family: 'Nunito Sans', sans-serif;
  }
  html{
    scroll-behavior: smooth;
    height: 100%;
  }
  body{
    height: 100%;
  }
</style>

